.btn {
  background-color: var(--neon-green);
  width: 65px;
  height: 65px;
  border-radius: 100%;
  cursor: pointer;
  transform: translate(0px, 50px);
}

.btn:hover {
  box-shadow: 0px 0px 20px 1px var(--neon-green);
}

.dice {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
